<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <aspNetCore forwardWindowsAuthToken="false" processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout.log" arguments="%LAUNCHER_ARGS%" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>